/* TABLE MODULE STYLING */
#tableContainer{
    margin:1em;
}

/* RESIZE MODULE STYLING  */
.JCLRgrip{
	background: #eaeaea !important;
    width: 1px !important;
    margin-left: -15px !important;
}
