<!--TABLE CONTAINER-->
<div id="tableContainer">

  <!--SEARCH CONTAINER CONTENT-->
  <md-content id="searchContainer" ng-if="vm.tableConfig.search.serverSearch || vm.tableConfig.search.liveSearch">
    <md-input-container id="searchInputField">
      <label>{{::vm.tableConfig.search.searchLabel}}</label>
      <input ng-model="vm.searchTerm" type="text">
    </md-input-container>
    <md-input-container id="searchButton">
      <md-button class="md-primary md-raised">{{::vm.tableConfig.search.searchLabel}}</md-button>
    </md-input-container>
  </md-content>

  <!--ANGULAR MATERIAL DATA TABLE CONTAINER-->
  <md-table-container>
    <table ng-if="!vm.tableConfig.lazyLoading" md-row-select md-table multiple ng-model="vm.tableConfig.selected" md-progress="vm.tablePromise" table-resize>
      <thead md-head md-order="vm.tableConfig.order" md-on-reorder="vm.tableConfig.sort.serverSideSortingCallback(0, 6)">
        <tr md-row>
          <th
            md-column
            ng-repeat="column in vm.columns track by $index"
            md-order-by="{{column}}">
            <span>{{column}}</span>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr 
          md-row
          md-select="user"
          md-auto-select
          md-select-id="user[vm.tableConfig.order]"
          ng-repeat="user in vm.tableData | limitTo : vm.tableConfig.limit : (vm.tableConfig.page) * vm.tableConfig.limit | orderBy : vm.tableConfig.order | filter : (vm.tableConfig.search.serverSearch) ?  '' : vm.searchTerm track by $index"
          ng-style="{'background': $index % 2 === 0 ? 'white' :'whitesmoke'}">
          <td md-cell ng-repeat="(key, value) in user">{{value}}</td>
        </tr>
      </tbody>
      <tfoot md-foot>
        <tr md-row>
          <td md-cell></td>
          <td md-cell><strong>Total: </strong>{{vm.tableData.length}}</td>
          <td md-cell colspan="6"></td>
        </tr>
      </tfoot>
    </table>  
  </md-table-container>

  <br><hr>{{vm.tableConfig.selected}}<hr><br/>
  
  <!-- LAZY LOADING CONTENT (ANGULAR-MATERIAL VIRTUAL REPEATER) -->
  <table ng-if="vm.tableConfig.lazyLoading">
    <thead>
      <tr>
        <th ng-repeat="column in vm.columns track by $index"></th>
      </tr>
    </thead>
    <tbody ng-if="vm.tableConfig.lazyLoading" md-virtual-repeat-container id="vertical-container" md-auto-shrink="true" class="md-orient-vertical">
      <tr
        md-virtual-repeat="user in vm.tableData"
        class="repeated-item"
        md-item-size="28"
        ng-style="{'background': $index % 2 === 0 ? 'white' :'whitesmoke'}">
        
        <td ng-repeat="(key, value) in user">
          {{value}}
        </td>
      </tr>
    </tbody>
  </table>

  <!--PAGINATION <CONTAINER--></CONTAINER-->
  <md-table-pagination ng-if="!vm.tableConfig.lazyLoading"
    md-limit="vm.tableConfig.limit"
    md-limit-options="[5, 10, 15]"
    md-page="vm.tableConfig.page"
    md-total="{{vm.tableData.length}}"
    md-on-paginate="vm.tableConfig.pagingCallback()"
    md-page-select
    md-boundary-links="true">
  </md-table-pagination>

</div>
