/* TABLE MODULE STYLING */
#tableContainer{
    margin:1em;
}

/* RESIZE MODULE STYLING  */
.JCLRgrip{
	background: #eaeaea !important;
    width: 1px !important;
    margin-left: -10px !important;
}
			
#vertical-container{
	height:600px;
	max-width:800px;
	min-width:800px;
}
.editRowCell, .deleteRowCell:hover{
	cursor:pointer;
}
#multipleDeleteContainer{
	text-align:right;
}
#multipleDeleteButton{
	margin-right:2.8em;
	margin-top:1.5em;
}